BODY{
    padding: 6rem 2rem 2rem;
}

.muted{
    color:#a1a1a1;
}

.element-description{
    font-size: 80%;
    color: #959595;
}

.group-description{
    font-style: italic;
    color:#959595;
}

.record-title{
    font-size: 100%;
    color: #cc006e;
    margin-top:2em;
}

.record-subtitle{
    display: block;
    color: #a1a1a1;
    font-size:86%;
    font-weight: normal;
    margin-top: 0.6em;
}

.record-subtitle CODE{
    color: #a1a1a1;
    font-size: 116%;
}

.record-body{
    margin-bottom: 2em;
}

.record-body.last{
    margin-bottom: 0;
}

.record-count{
    color:#959595;
    display: inline-block;
    padding-left:5px;
}

.record-controls{
    margin-top:2em;
}

.monospace{
    font-family: monospace;
}

.graphic-preview{
    margin-top: 10px;
}

.graphic-preview IMG{
    width: 192px;
}

.quest-data{
    max-height:500px;
    overflow:auto;
    background: #fafafa;
    padding: 4px;
    font-size: 11px;
    line-height: 11px;
}

.objective-progression-icon {
    margin:0 6px;
}

.table TD.align-center,
.table TH.align-center{
    text-align: center;
}

.table TD.align-right,
.table TH.align-right{
    text-align: right;
}
