BODY{
    padding:2rem;
}

.element-description{
    font-size: 80%;
    color: #959595;
}

.group-description{
    font-style: italic;
    color:#959595;
}

.record-title{
    font-size: 100%;
}

.record-body{
    margin-bottom: 2rem;
}

.record-body.last{
    margin-bottom: 0;
}

.record-count{
    color:#959595;
    display: inline-block;
    padding-left:5px;
}

.record-controls{
    margin-top:2em;
}

.monospace{
    font-family: monospace;
}

.graphic-preview{
    margin-top: 10px;
}

.graphic-preview IMG{
    width: 192px;
}
